body{
    background-color: #D4FFCB;
    margin: 0px;
}

h1{
    font-size: 20px;
    border-bottom: 1px solid;
    margin: 16px 0;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}

h1 > a{
    font-size: 16px;
    font-weight: normal;
    margin-left: auto;
}

ul{
    display:flex;
    flex-wrap:wrap;
    margin: 0;
    padding-left: 25px;
}

li{
    line-height: 1.6;
    width: calc(33.33333% - 25px);
    height: 450px;
    padding-right: 25px;
    overflow: hidden;
  }

input,textarea{
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

.kensaku-div{
    padding-bottom: 15px;
}

.kensaku-text{
    width: 40%;
}

.kensaku-btn{
    width: 100px;
    height: 27.5px;
    margin: auto;
    vertical-align: bottom;
}

.show-all-div{
    padding-bottom: 15px;
}

.all-show{
    padding: 4px;
    width: 10%;
    box-sizing: border-box;
}

textarea{
    height: 160px;
}

button{
    padding: 4px 8px;
    font-size: 14px;
}

img{
    width: 100%;
    height: auto;
}

.welcome_pic {
    height: 450px;
    margin: 10px 5px;
    position: relative;
  }

  .welcome_pic img {
    object-fit: cover;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%,-50%);
  }


  .show-pic{
    width: 80%;
    height: 60%;
    border: 1px solid;
  }

.show-text-div{
    padding-top: 30px;
    padding-bottom: 30px;
}

.show-text{
    width: 70%;
    margin: auto;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

.front_pic{
    width: 100%;
    height: 100%;
  }

.container{
    width: 70%;
    margin: 40px auto;
    padding-top: 20px;
}

.form-group{
    margin-bottom: 16px;
}

.form-button{
    text-align: right;
}

.error{
    color: red;
    font-size: 14px;
    margin-top: 8px;
}

.show_picture{
    width: 600px;
    border: 1px solid;
    margin: 0 auto;
}

.show_picture > img{
    vertical-align: bottom;
}

.button{
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: normal;
    color: #15c;
    cursor: pointer;
    vertical-align: 5px;
}

/* fotterのcss */
footer{
    height: 500px;
    padding-top: 200px;
  }

  .fotter_p{
    background-color: rgb(28, 27, 27);
    color: white;
    height: 37em; /* emは１文字分の長さを表している */
    display: flex; /* ある要素を並列にする操作 */
    align-items: center; /*交差軸に対し中央に配置 */
    justify-content: center; /* 主軸に対して中央に配置 */
  }
