h1{
    font-size: 30px;
    border-bottom: 1px solid;
    margin: 16px 0;
    padding-bottom: 8px;
    display: flex;
}

h1 > a{
    font-size: 30px;
    font-weight: normal;
    margin-left: auto;
    align-items: center;
}

li{
    line-height: 1.6;
    margin-bottom: 8px;
}

.container{
    width: 600px;
    margin: 40px auto;
    padding-top: 20px;
}
